@page "/catalog"
@using CalculateApp.Data
@using CalculateApp.Data.CalculateApp

@inherits OwningComponentBase<CalculateAppService>
@rendermode InteractiveServer

<PageTitle>Каталог</PageTitle>

@if (products != null){
<div class="container">
    <div class="row">
        @foreach (var product in products)
        {
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-2">
                            <img src="@product.Image" class="img-fluid rounded m-1" alt="..." style="min-width: 100%">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <a href="/catalog/@product.Id" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover fs-4">@product.Name</a>
                                <p class="card-text overflow-hidden" style="max-height: 100px;">@product.Description</p>
                                <p class="card-text col-2"><small class="text-muted">@product.Category.Name</small></p>
                            </div>
                        </div>
                        <div class="col-2 text-center">
                            <p class="mt-5 fs-3">@product.Price <b>₽</b></p>
                        </div>
                    </div>
                </div>
        }
    </div>
</div>
}

@code {
    private List<Product> products;

    protected async override Task OnInitializedAsync()
    {
        products = await Service.GetProductsAsync();
    }
}
